.gemni_auto_complete
{
	display: none !important;
}

.gemni_panorama_menu
{
	display: none !important;
}

.contextMenu
{
	display: none !important;
}

.contextMenu .item
{
	display: none !important;
}